<div id="<%= dom_id(question) %>" class="question">
  <div data-controller="questions">
    <%= turbo_stream_from "questions" %>
  </div>
  <p class="user-question"><%= question.user_question %></p>
  <p class="ai-answer"><%= sanitize(question.ai_answer) || "Thinking..." %></p>
</div>
