<div class="container my-5">

  <h1 style="text-align: center">So you're feeling <%= @mood.feeling %>?</h1>
  <h3 style="text-align: center"> What content would feel helpful right now?</h3>

 <div class="categories">
  <% @categories.each do |category| %>
    <%= button_to mood_path(@mood), class: "category-item", method: :patch, params: { mood: { category: category } } do %>

      <%= category.category_icon.html_safe%>

      <p class="category-text"><%= category.name.capitalize %></p> <!-- Added text under icon -->
        <% end %>
        <% end %>

</div>
</div>
