<div class="container">
    <h1>It sounds like you're feeling <%= @mood.feeling %> today. What would feel helpful to focus on right now?</h1>
    <%= simple_form_for @mood do |f| %>
        <%= f.association :category %>
        <%= f.submit "Pick Your Mood" %>
    <% end %>
</div>
