<div class="container">
  <h1>Hey, <%= current_user.first_name %>! How’s your mood? We’ve got something just for you</h1>
  <%= simple_form_for @mood do |f| %>
    <%= f.input :feeling, collection: Mood.feelings.keys.map { |k| [k.humanize, k] }, as: :select %>
    <%= f.submit "Pick Your Mood" %>
  <% end %>
</div>
