<div class="container my-5">

<h1 style="text-align: center">Hey, <%= current_user.first_name %>! </h1>
<h1 style="text-align: center">How are you feeling right now? </h1>



  <% @moods.each do |mood| %>
    <%= button_to moods_path, class: "mood-item", params: { mood: { feeling: mood.feeling } } do %>
      <%= mood.mood_icon.html_safe %>
      <p class="mood-text"><%= mood.feeling.capitalize %></p> <!-- Added text under icon -->
    <% end %>
  <% end %>
</div>
