<div class="container my-4">

<h1 style="text-align: center">Hey, <%= current_user.first_name %>! </h1>
<h3 style="text-align: center">How are you feeling right now? </h3>


<div class="moods">
    <% @moods.each do |mood| %>
      <%= button_to moods_path, class: "category-item m-1", params: { mood: { feeling: mood.feeling } } do %>
        <%= mood.mood_icon.html_safe %>
        <p class="category-text"><%= mood.feeling.capitalize %></p>
      <% end %>
    <% end %>
  </div>
</div>
