<div class="footer">

  <div class="container-fluid">
    <ul class="footer-items">
      <li class="footer-item">
        <%= link_to new_mood_path, class: "footer-link" do %>
          <i class="fas fa-smile"></i> Mood
        <% end %>
      </li>
      <li class="footer-item">
        <%= link_to  questions_path, class: "footer-link" do %>
          <i class="fas fa-message"></i> chat
        <% end %>
      </li>
      <li class="footer-item">
        <%= link_to contents_path, class: "footer-link" do %>
          <i class="fas fa-book-open"></i> Content
        <% end %>
      </li>
      <li class="footer-item">
        <%= link_to moods_path, class: "footer-link" do %>
          <i class="fas fa-user"></i> Profile
        <% end %>
      </li>
    </ul>
  </div>
</div>
