.moods-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.mosaic-card {
  display: flex;
  border-radius: 24px;
  // background-color: #4894E1;
  padding: 0.75rem;
  width: 48%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-items: center;

  .mosaic-card--happy {
    background-color: yellow;
  }
  .mosaic-card--meh {
    background-color: orange;
  }
  .mosaic-card--sad {
    background-color: red;
  }
  .mosaic-feeling {
    flex: 1;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0.5rem;
  }

  .mosaic-details {
    flex: 2;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .mosaic-date {
      font-size: 0.9rem;
      color: #333;
      margin-bottom: 0.5rem;
    }

    .category-icon i {
      font-size: 3rem;
    }

  }

}
