.moods {
  display: flex;
  flex-direction: column;
  gap: 20px;  // Adjust the gap between mood items
  justify-content: center;  // Center the images horizontally
}

.mood-item {
  text-align: center;  // Center the text under the image
  background-color: #4894E1;
  width: 55vw;
  height: 20vh;
  padding: 3rem;
  border-radius: 20px;
}

i{
  font-size: 6rem;
}

button {
  border: none;  // Remove the border from the button
  background: transparent;  // Remove any background color from the button
  padding: 0;  // Remove any padding around the button
}
