.moods {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 2rem;
}

.mood-item {
  text-align: center;
  background-color: #4894E1;
  width: 55vw;

  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
  p {
    margin-bottom: 0;
    color: beige;
  }

  i{
    font-size: 5rem;
    margin-top: 0.5rem;
    color: beige;
  }
}

button {
  border: none;
  background: transparent;
  padding: 0;
}

.mood-text {
  font-size: 2rem;
  margin-top: 10px;
  color: black;
  padding-bottom: 3px;
  font-size: 25px;
}
