.navbar {
  background-color:#ff007f;
  border-top: 1px solid #ccc;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1030;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;

  padding: 10px 0;
  

  .nav-item {
    flex: 1;
    text-align: center;

    .nav-link {
      color: #4894E1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      i {
        font-size: 1.8rem;
        margin-bottom: 0.25rem;
      }
    }

    .nav-link:hover {
      color: #000000;
    }
  }
}
